.imag{
 width: 50%;
 height: auto;

}
.mg{
    text-align: center;
    background: cornflowerblue;
}
.content{
    color: black;
}
.mediano {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    float: left;
    margin-left: 15px;
  }
  

.is-38x38{
    width: 38px;
    height: 38px;
}
.padre{
    width: 100%;
    height: auto;
}

  a{
    text-decoration: none;
    color: inherit;
}
p{
    color: black;
}

