

body{
    margin: 0px;
    padding: 0px;
    font-size: 16px ;
    line-height: 1.4em;
    color: rgb(252, 240, 240);
    background: white;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    max-width: 100%;
    background: white;
    padding: 20px;
}
nav{
    width: 100%;
    margin-bottom: 1em;
    background: rgb(209, 205, 205);
}
.logo{
    width: 100px;
    display: block;
    margin: auto;
}
ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    font-weight: 300;
    text-align: center;
    transition: max-height 0.5s;
}
.menu{
  width: 100%;
  box-sizing: border-box;
background: #f7e6e6;
text-align: left;
padding: 15px 20px;
color: white;
font-size: 1.4em;

cursor: pointer;
}
.nav-item{
    display: inline-block;
    padding: 20px;
    font-size: 1.2em;
}

.mediano {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    float: left;
    margin-left: 15px;
  }
  

.is-38x38{
    width: 38px;
    height: 38px;
}
.padre{
    width: 100%;
    height: auto;
}


@import 'categoria';


